<div class="app">
    <div class="container">

        <section id="logoSection">
            <div class="row justify-content-center">
                <div class="col-lg-10" id="logoCol">
                    <img src="/assets/images/RPS_logo.png" alt="Rock Paper Scissors logo">
                </div>
            </div>

        </section>




    </div>
</div>